body {
    font-family: Arial;
    background: #0f172a;
    color: #fff;
    text-align: center;
}

h1 {
    margin: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

th,
td {
    padding: 10px;
    border: 1px solid #333;
}

.online {
    color: #22c55e;
}

.offline {
    color: #ef4444;
}

.info {
    margin-bottom: 20px;
}
